@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*css for footer*/
.footer{
    background-color: #f5f5f5;
}
.footer h3{
    font-size: 12px;
    line-height: 15px;
    margin: 15px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
    font-weight: 400;
}
.footer-begin{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer-begin h3{
    font-size: 12px;
    line-height: 15px;
    margin: 30px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
} */
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img img{
    width: 10%;
}
.footer-verify-h3 h3{
    justify-content: center;
    text-align: center;
}
.footer-content {
    text-align: center;
    justify-content: center;
}
/*css for content*/
.content{
    
}
.main-content{
    background-color: whitesmoke;
}
.container{
    background-color: white;
}
.content .slider .d-block img{
}
.content .main-content h5{
    font-size: 14px;
    line-height: 17px;
    margin: 15px;
    text-decoration: none solid rgba(0,0,0,8);
    font-weight: 400;
    margin-left: 110px;
}

.main-content .slider-text .slider-text-tittle h4{
    font-size: 24px;
    font-weight: 500;
    font-style: lighter;
    line-height: 36px;
    text-decoration: none solid rgba(0,0,0,8);
    font-family: Arial, Helvetica, sans-serif;
}
.main-content .slider-text .slide-text-info{
    display: flex;
}
.main-content .slider-text .slide-text-info h4{
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    text-decoration: none solid rgba(118,118,118);
    font-style: lighter;
    margin-left: 20px;
}
.main-content .slider-text .slide-text-price{
    display: flex;
} 
.main-content .slider-text .slide-text-price .before-price{
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: line-through rgba(146,146,146);
    font-style: lighter;
    margin-left: 20px;
    margin-top: 5px;
}
.main-content .slider-text .slide-text-price .after-price{
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-decoration: none solid rgba(0,0,0,8);
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    margin-left: 20px;
}
.main-content .slider-text .slide-text-option .delivery{
    display: flex;
}
.main-content .slider-text .slide-text-option .delivery .delivery-tittle{
    display: flex;
    margin-left: 20px;
}
.main-content .slider-text .slide-text-option .delivery>h4{
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none solid rgba(118,118,118);
    font-style: lighter;
    margin-left: 20px;
    margin-top: 5px;
    color: grey;
}

.main-content .slider-text .slide-text-option .delivery .free1{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    font-style: lighter;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content .slider-text .slide-text-option .delivery .free2{
    font-size: 15px;
    font-weight: 500;
    font-style: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none solid rgba(0,0,0,8);
}
.main-content .slider-text .slide-text-option .delivery-to{
    display: flex;
    margin-left: 147px;
}
.main-content .slider-text .slide-text-option .delivery-to h4{
    font-size: 15px;
    font-weight: 500;
    font-style: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none solid rgba(0,0,0,8);
}
.main-container{
    width: 55%;
    max-width: 250px;
    
}
.select-item{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    position: relative;
}
.select-item > label {
    display: block;
    font-size: 18px;
}
.select-item > select {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
}
.select-item > span{
    position: absolute;
    width: 22px;
    height: 22px;
    right: 22px;
    top: 38px;
    display: none;
    z-index: 5;
}
.select-item > span > img{
    width: 50%;
    height: 50%;
} 
input {
    display: inline-block;
    width: 10%;
}
.delivery .btn-increment-and-decrement{
    margin-left: 40px
}
.delivery button, input{
    /* Green */
    border: none;
}
.buy button{
    background-color: orangered;
    border: none;
    color: white;
    padding: 0 20px 0 20px;
    text-align: center;
    text-decoration: none rgb(255, 255, 255);
    display: inline-block;
    font-size: 16px;
    height: 48px;
    margin-top: 30px;
    margin-left: 100px;
}
.buy button:hover{
    background-color: #d15e47;
}
@media screen and (max-width: 768px) {
    /*content*/
    .content .main-content h5{
        margin-left: 20px;
    }
    .main-content .slider-text .slider-text-tittle h4{
        font-size: 12px;
        font-weight: 200;
        font-style: lighter;
        line-height: 14px;
        text-decoration: none solid rgba(0,0,0,8);
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-content .slider-text .slide-text-info h4{
        font-size: 9px;
        line-height: 10px;
        text-transform: capitalize;
        text-decoration: none solid rgba(118,118,118);
        font-style: lighter;
        margin-left: 10px;
    }
    .main-content .slider-text .slide-text-option .delivery>h4{
        font-size: 12px;
        text-transform: capitalize;
        text-decoration: none solid rgba(118,118,118);
        font-style: lighter;
        margin-left: 20px;
        margin-top: 5px;
        color: grey;
    }
    .main-content .slider-text .slide-text-option .delivery .free1{
        margin-top: 15px;
        font-size: 12px;
        font-weight: 500;
        font-style: lighter;
        line-height: 8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-content .slider-text .slide-text-option .delivery .free2{
        font-size: 12px;
        font-weight: 500;
        font-style: lighter;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none solid rgba(0,0,0,8);
    }
    .main-content .slider-text .slide-text-option .delivery-to{
        display: flex;
        margin-left: 80px;
    }
    .main-content .slider-text .slide-text-option .delivery-to h4{
        font-size: 12px;
        font-weight: 500;
        font-style: lighter;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none solid rgba(0,0,0,8);
    }
    .main-container{
        display: flex;
    }
    input {
        display: inline-block;
        width: 10%;
    }
    .delivery .btn-increment-and-decrement{
        margin-left: 25px
    }
    .buy button{
        background-color: orangered; 
        border: none;
        color: white;
        padding: 0 20px 0 20px;
        text-align: center;
        text-decoration: none rgb(255, 255, 255);
        display: inline-block;
        font-size: 16px;
        height: 48px;
        margin-left: 70px;
    }
}
    