.logo {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 35px;
}
.logo img {
    width: 30px;
    object-fit: cover;
}
.logo h1 {
    font-size: 21px;
    line-height: 19,5px;
    margin: 0px 10px;
    color: #ff5722;
    font-family: Arial, Helvetica, sans-serif;
}
.logo span {
    display: block;
    font-size: 21px;
    padding-left: 10px;
    border-left: 2px solid #ff5722;
    color: #ff5722;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    background-color: #ff5722;
    width: 100%;
    padding: 120px 0px;
}
.banner .form {
    max-width: 1280px;
    margin: auto;
}
.box {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.left-option {
    width: 30%;
    /* margin-left: -70px; */
    margin-top: 30px;
}
.right-content {
    width: 70%;
    padding-right: 100px;
    padding-top: 50px;
}
.form h2 {
    color :#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 59,4px;
}
.form{
    text-align: center;
    font-size: 40px;
}
.search{
    max-width: 1000px;
    width: 75%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid #ff5722;
    padding: 0px 15px;
    outline: none;
}
.left-option h2{
    font-family:'Times New Roman';
}
.left-option li{
    padding-top: 30px;
    list-style-type: none;
}
.right-content h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 48px;
}
.right-content li{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    list-style-type: none;
    padding-top: 40px;
}
.us{
    border: 1px solid #D3D3D3;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.mini-contact{
    display: flex;
}
.we{
    border: 1px solid #d3d3d3;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
}
.text-email{
    margin-left: 10px;
}
.text-phone{
    margin-left: 10px;
}
ul {
    padding-left: 0px;
}

.footer-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    }
    .icon-footer img{
        height: 27px;
    width: 27px;
    margin: 0 8px 0 8px;
    }
    .left-footer{
        display: flex;
        font-size: 12px;
    }
    .icon-footer{
        display: flex;
    }
    .link{
        display: flex;
        margin: 0 8px 0 8px;
        height: 27px;
        width: 471.4px;
        font-size: 12px;  
    }
    .link-text{
        margin-left: 10px;
    
    
    }
    .link-text a{
        text-decoration: none;
        color: #000;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
        
    }
    .link-text a:hover{
        text-decoration:  underline solid #000;
    }
    .container{
        margin-top: 50px;
    }
    .my-container {
        margin: auto;
        max-width: 1200px;
    }

    @media (max-width:992px) {
        .left-option {
            width: 100%;
        }
        .right-content {
            width: 100%;
            padding-right: 0px;
        }
    }
    @media (max-width:400px) {
        .mini-contact {
            flex-wrap: wrap;
        }
        .us, .we {
            width: 100%;
            margin: 10px 0px;
        }
        .left-footer {
            flex-wrap: wrap;
            justify-content: center;
        }
        .icon-footer {
            margin-bottom: 10px;
        }
    }