.logo {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 35px;
}
.logo img {
    width: 30px;
    object-fit: cover;
}
.logo h1 {
    font-size: 21px;
    margin: 0px 10px;
    color: #ff5722;
    font-family: Arial, Helvetica, sans-serif;
}
.logo span {
    display: block;
    font-size: 21px;
    padding-left: 10px;
    border-left: 2px solid #ff5722;
    color: #ff5722;
    font-weight: 1000;
}
.banner {
    background-color: #ff5722;
    width: 100%;
    padding: 120px 0px;
}
.banner .form {
    max-width: 1280px;
    margin: auto;
}
.box {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.left-option {
    width: 25%;
    margin-left: -70px;
}
.right-content {
    flex: 1;
    margin-right: 100px;
    padding-top: 50px;
}
.form h2 {
    color :#fff;
}
.form{
    text-align: center;
    font-size: 40px;
}
.search{
    width: 1000px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}
.left-option h2{
    font-family:'Times New Roman';
}
.left-option li{
    padding-top: 30px;
    list-style-type: none;
}
.right-content h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 48px;
}
.right-content li{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    list-style-type: none;
    padding-top: 40px;
}
.us{
    border: 1px solid #b1154a;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
}
.mini-contact{
    display: flex;
}
.we{
    border: 1px solid #b1154a;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.text-email{
    margin-left: 10px;
}
.text-phone{
    margin-left: 10px;
}

.footer-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    }
    .icon-footer img{
        height: 27px;
    width: 27px;
    margin: 0 8px 0 8px;
    }
    .left-footer{
        display: flex;
    }
    .icon-footer{
        display: flex;
    }
    .link{
        display: flex;
        margin: 0 8px 0 8px;
        height: 27px;
    width: 471.4px;
    }
    .link-text{
        margin-left: 10px;
    
    
    }
    .link-text a{
        text-decoration: none;
        color: #000;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
        
    }
    .link-text a:hover{
        text-decoration:  underline solid #000;
    }