/*css for footer*/
.footer{
    background-color: #f5f5f5;
}
.footer h3{
    font-size: 12px;
    line-height: 15px;
    margin: 15px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
    font-weight: 400;
}
.footer-begin{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer-begin h3{
    font-size: 12px;
    line-height: 15px;
    margin: 30px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
} */
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img img{
    width: 10%;
}
.footer-verify-h3 h3{
    justify-content: center;
    text-align: center;
}
.footer-content {
    text-align: center;
    justify-content: center;
}