/* css for header*/
.header{
    width:100%;
    background-color: #e75205;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo-header{
    margin-left: 82px;
    width: 70px;
    height: 80px;
}
 .nav-link{
    color:white;
}
.searchbar{
    margin-left:50px;
    margin-top:35px;
    width:840px;
    height:45px;
}
.search-button-header{
    color: white;
    background-color: #e75205;
    font-size: 25px;
    margin-top: 5px;
    cursor: pointer;
    padding-left: 10px;
}
.search-button-header:hover{
    color: rgb(211, 180, 180);
}
.icon-shopping-header{
    margin-top:35px;
}
.fa-cart-shopping{
    margin-left:50px;
    color:white;
    font-size: 20px;
}

/* css for Content */
/* Menu first-content*/
.content{
    background-color: whitesmoke;
    margin-top: 150px;
}
.carousel-indicators, .carousel-control-prev{
    display: none;
}
.Menu-first-content{
    display:flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
}
.first-content{
    background-color: white;
}
.slider{
    width:800px;
}
.elem-Menu-1{
    justify: center;
    border: none;
}
.img-Menu-first-content-1{
    margin-left:38px;
    width:48px;
    height:48px;
}
.card-text-first-content{
    font-size: 12px;
    text-align: center;
}
/* Second-content */
.Second-content{
    background-color: white;
}
.title-second-content{
    font-size:20px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-family: Helvetica;
}
/* Third-content */
.Third-content{
    margin-top: 30px;
    background-color: white;
}
.text-third-content{
    display:flex;
}
.text1{
    position: relative;
    padding: 0.9375rem 2.875rem;
    flex: 0 0 auto;
    height: 3.75rem;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
}
.text-header-third-content{
    color: rgb(238, 77, 45);
    font-size: 1rem;
    font-weight: 500;
}
.text2{
    position: relative;
    padding: 0.9375rem 2.875rem;
    flex: 0 0 auto;
    height: 3.75rem;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
}








/*css for footer*/
.footer{
    background-color: #f5f5f5;
}
.footer h3{
    font-size: 12px;
    line-height: 15px;
    margin: 15px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
    font-weight: 400;
}
.footer-begin{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer-begin h3{
    font-size: 12px;
    line-height: 15px;
    margin: 30px;
    text-decoration: none solid rgba(0,0,0,0,0,54);
} */
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img img{
    width: 10%;
}
.footer-verify-h3 h3{
    justify-content: center;
    text-align: center;
}
.footer-content {
    text-align: center;
    justify-content: center;
}
/*responsive*/
@media screen and (max-width: 768px){
    .logo-header{
        margin-left: 20px;
        width: 50px;
        height: 80px;
    }
    .header{
        width:100%;
        background-color: #e75205;
        top:0px;
    }
     .nav-link{
        color:white;
    }
    .searchbar{
        margin-left:10px;
        margin-top:35px;
        width:240px;
        height: 25px;
    }
    .search-button-header{
        color: white;
        background-color: #e75205;
        font-size: 25px;
        margin-top: 5px;
        cursor: pointer;
        display: block;
        padding-left: 10px;
    }
    .icon-shopping-header{
        margin-top:35px;
    }
    .fa-cart-shopping{
        margin-left:25px;
        color:white;
        font-size: 20px;
    }
}